APP_ENV=local
APP_NAME=Website Admin
APP_DEBUG=0
APP_DISPLAY_TIMEZONE=Africa/Mogadishu
WC_API_URL=http://127.0.0.1:8090
WA_BASE_URL=http://127.0.0.1:8091
SESSION_NAME=wms_wa_session
COOKIE_SECURE=0
COOKIE_SAMESITE=Lax
